<h1>New Tweet</h1>

<%= form_with model: @tweet, local: true do |form| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> this message can not be saved due to :</h2>
      <ul>
        <% @tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content %><br>
    <%= form.text_field :content, size: 40 %>
  </div>

  <div>
    <%= form.submit 'Create Tweet' %>
  </div>
<% end %>

<%= link_to 'Back', tweets_path %>

